<!DOCTYPE html>
<html>
  <head>
    <title>PlaceSharing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'false' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'false' %>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
  </head>

  <body class="d-flex flex-column h-100">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <%= render 'shared/navigation' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
